In [41]:
# Initial Imports
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

In [42]:
# Set the random seed for reproducibility
# Note: This is used for model prototyping, but it is good practice to comment this out and run multiple experiments to evaluate your model.
from numpy.random import seed

seed(1)
from tensorflow import random

random.set_seed(2)

In [66]:
# Loaded in GDP data
df = pd.read_csv(
    Path("GDPproject2.csv")
)

df = df[(df["Subject Descriptor"]=="Gross domestic product, current prices") & (df["Units"]=="U.S. dollars")]
df.drop(columns=["Subject Descriptor", "Units", "Scale", "Estimates Start After"], inplace=True)
df = df.T
df.columns = df.loc["Country"]
df = df.drop("Country", axis=0)
df.head()

Country,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1980,NaN,1.946,42.346,6.639,0.131,233.696,NaN,NaN,162.628,80.923,...,"2,857.33",12.165,NaN,0.121,69.841,35.357,NaN,NaN,4.246,NaN
1981,NaN,2.229,44.372,6.214,0.148,189.802,NaN,NaN,188.067,70.121,...,"3,207.03",13.578,NaN,0.114,78.367,17.617,NaN,NaN,4.385,NaN
1982,NaN,2.296,44.78,6.214,0.164,94.25,NaN,NaN,186.709,70.111,...,"3,343.80",11.1,NaN,0.114,79.998,23.369,NaN,NaN,4.232,NaN
1983,NaN,2.319,47.529,6.476,0.182,116.267,NaN,NaN,179.151,71.032,...,"3,634.03",6.093,NaN,0.117,79.672,35.204,NaN,NaN,3.653,NaN
1984,NaN,2.29,51.513,6.864,0.208,130.544,NaN,NaN,196.777,67.007,...,"4,037.65",5.794,NaN,0.144,57.826,61.171,NaN,NaN,3.003,NaN

In [68]:
# Top 5 Largest Economies United States, China, Japan, Germany, India
GDP5 = df[['United States', 'China', 'Japan', 'Germany', 'India']]
GDP5

Country United States      China     Japan   Germany     India
1980         2,857.33    303.027  1,127.88   853.705   189.438
1981         3,207.03    288.734  1,243.79   718.264   196.535
1982         3,343.80    284.608  1,157.60   693.547   203.537
1983         3,634.03    305.426  1,268.62   691.912   222.049
1984         4,037.65    314.224  1,345.20     651.9   215.556
1985         4,339.00    310.151  1,427.35   661.037   237.618
1986         4,579.63    300.924  2,121.25   944.124   252.751
1987         4,855.25    327.719  2,584.34  1,174.86    283.75
1988         5,236.43    408.652  3,134.18  1,266.62   299.645
1989         5,641.60    458.167  3,117.07  1,257.39   301.234
1990         5,963.13     396.58  3,196.56  1,598.64   326.608
1991         6,158.13    413.217  3,657.35  1,875.62   274.842
1992         6,520.33    492.155  3,988.33  2,136.31   293.262
1993         6,858.55    617.429  4,544.77  2,072.46   284.194
1994         7,287.25    561.687  4,998.80  2,209.93   333.014
1995         7,639.75    731.018  5,545.57  2,588.00     366.6
1996         8,073.13    860.476  4,923.39  2,498.11   399.791
1997         8,577.55    957.993  4,492.45  2,214.69   423.189
1998         9,062.83   1,024.17  4,098.36  2,242.07   428.767
1999         9,630.70   1,088.34  4,635.98  2,197.13   466.841
2000        10,252.35   1,205.52  4,968.36  1,948.84   476.636
2001        10,581.83   1,333.67  4,374.71  1,945.80   493.934
2002        10,936.45   1,465.84  4,182.85  2,077.02   523.768
2003        11,458.25   1,656.95  4,519.56  2,501.01   618.369
2004        12,213.73   1,949.49  4,893.14  2,813.08   721.589
2005        13,036.63   2,290.09  4,831.47  2,848.44   834.218
2006        13,814.60   2,754.11  4,601.66  2,994.86   949.118
2007        14,451.88   3,555.68  4,579.75  3,425.98  1,238.70
2008        14,712.83   4,577.40  5,106.68  3,744.85  1,224.10
2009        14,448.93   5,088.99  5,289.49  3,407.56  1,365.37
2010        14,992.05   6,033.81  5,759.07  3,402.44  1,708.46
2011        15,542.60   7,492.26  6,233.15  3,748.66  1,823.05
2012        16,197.05   8,539.47  6,272.36  3,529.38  1,827.64
2013        16,784.83   9,625.04  5,212.33  3,733.86  1,856.72
2014        17,527.28  10,524.21  4,897.00  3,890.10  2,039.13
2015        18,238.30  11,113.53  4,444.93  3,357.93  2,103.59
2016        18,745.10  11,227.08  5,003.68  3,468.90  2,294.12
2017        19,542.98  12,265.32  4,930.84  3,681.30  2,651.47
2018        20,611.88  13,841.90  5,036.89  3,965.57  2,701.11
2019        21,433.23  14,340.60  5,148.78  3,861.55  2,870.50
2020        20,932.75  14,722.84  5,048.69  3,803.01  2,708.77
2021        22,675.27  16,642.32  5,378.14  4,319.29  3,049.70
2022        24,003.70  18,013.40  5,653.46  4,598.12  3,312.95
2023        24,892.61  19,423.48  5,977.36  4,757.65  3,591.03
2024        25,790.12  20,910.47  6,170.37  4,923.01  3,884.73
2025        26,719.63  22,481.43  6,351.10  5,084.35  4,199.01
2026        27,659.15  24,127.83  6,533.02  5,253.10  4,534.34